<form [formGroup]="form" (submit)="onSubmit()">
	<h2 mat-dialog-title>
		Change password
	</h2>
	<mat-dialog-content>
		<br>
		<mat-form-field class="full-width">
			<mat-label>New password</mat-label>
			<input matInput [formControl]="passwordControl"/>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-stroked-button type="submit">
			<mat-icon>save</mat-icon>
			<span>Submit</span>
		</button>
		<button mat-stroked-button type="button" mat-dialog-close>
			<mat-icon>close</mat-icon>
			<span>Cancel</span>
		</button>

	</mat-dialog-actions>
</form>
