<app-crud-table title="Users" [displayedColumns]="DisplayedColumnsKeys">
	<app-crud-table-column name="username">
		<ng-template #header>Username</ng-template>
		<ng-template #cell let-element>
			<span matBadge="You" matBadgeOverlap="false" [matBadgeHidden]="element.id !== userId">{{ element.username }}&nbsp;</span>
		</ng-template>
	</app-crud-table-column>

	<app-crud-table-column name="role">
		<ng-template #header>Role</ng-template>
		<ng-template #cell let-element>{{ element.role.name }}</ng-template>
	</app-crud-table-column>
</app-crud-table>
