@if (diet$ | async; as diet) {
	<form [formGroup]="form" (submit)="onSubmit()">
		<div class="flex justify-space-between align-center">
			<h2>Diet {{ idControl.value }}</h2>
			<div>
				<button mat-stroked-button type="submit">
					<span>Save</span>
					<mat-icon>save</mat-icon>
				</button>
				&nbsp;

				@if (diet.id) {
					<button mat-stroked-button (click)="onDelete(diet.id)">
						<span>Delete</span>
						<mat-icon>delete</mat-icon>
					</button>
					&nbsp;
				}

				<button mat-stroked-button type="button" routerLink="/diets">
					<span>Cancel</span>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [formControl]="nameControl" autocomplete="username">
		</mat-form-field>
	</form>

	@if (diet.id) {
		<app-diet-meals [dietId]="diet.id" [meals]="diet.meals"></app-diet-meals>
	}
}
