<mat-toolbar>
	<button (click)="openSideNav()" mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>
	&nbsp;
	<span>Cortado</span>
	<span class="spacer"></span>

	@if (user$ | async; as user) {
		<button mat-flat-button [routerLink]="'/users/' + user.id">
			<mat-icon>person</mat-icon>
			<span>{{user.username}}</span>
		</button>
		&nbsp;
		<button (click)="signOut()" mat-stroked-button>
			<mat-icon>login</mat-icon>
			<span>Sign out</span>
		</button>
	} @else {
		<button mat-flat-button routerLink="/auth/sign-in">
			<mat-icon>login</mat-icon>
			<span>Sign in</span>
		</button>
		&nbsp;
		<button mat-stroked-button routerLink="/auth/sign-up">
			<mat-icon>person_add</mat-icon>
			<span>Sign up</span>
		</button>
	}
</mat-toolbar>
