<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{ formGroup.controls.id.value ? 'Edit' : 'New' }} Diet</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Use this form to add a new diet plan to your health and nutrition management system. Fill in the details to
      ensure comprehensive dietary planning and tracking for optimal nutritional guidance.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup" class="mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <ng-template [ngTemplateOutlet]="formGroup.controls.id.value ? saveButton : createButton"></ng-template>

    <ng-template #createButton>
      <button mat-button (click)="onCreateClick()">Create</button>
    </ng-template>

    <ng-template #saveButton>
      <button mat-button (click)="onSaveClick()">Save</button>
    </ng-template>

    <button mat-button (click)="onResetClick()">Reset</button>
  </mat-card-actions>
</mat-card>
