.add-button-container {
  padding: 1rem 0;
  border-top: 1px solid gray;
}

.name-change-modal-button {
  background: none;
  border: none;
  cursor: pointer;
}

.name-change-modal-button:hover {
  background: whitesmoke;
}
