<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="d-flex align-items-center mb-2">
          <h2 class="m-0">{{ form.controls.name.value }}</h2>
          <button (click)="onNameEditClick()" class="ml-2" mat-icon-button>
            <fa-icon [icon]="['fas', 'edit']"></fa-icon>
          </button>
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <ng-template [ngTemplateOutlet]="form.controls.id.value ? saveButton : createButton"></ng-template>

      <ng-template #createButton>
        <button mat-button (click)="onCreateClick()">Create</button>
      </ng-template>

      <ng-template #saveButton>
        <button mat-button (click)="onSaveClick()">Save</button>
      </ng-template>

      <button mat-button (click)="onResetClick()">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
