$primary-50: #e3f2fd;
$primary-100: #bbdefb;
$primary-200: #90caf9;
$primary-300: #64b5f6;
$primary-400: #42a5f5;
$primary-500: #2196f3;
$primary-600: #1e88e5;
$primary-700: #1976d2;
$primary-800: #1565c0;
$primary-900: #181818;
$primary-color: #f5f5f5ff;
$primary-link: #b4bfee;
$primary-link--hover: rgba(180, 191, 238, 0.2);

$secondary: #f5f5f5;
$secondary-color: #000;

$accent: #f44336;
$accent-color: #f5f5f5ff;

$failure: #ffebee;
$failure-border: #ffcdd2;
$failure-color: #d50000;
$failure-button--hover: rgba(255, 205, 210, 0.5);

$success: #e8f5e9;
$success-border: #c8e6c9;
$success-color: #1b5e20;
$success-button--hover: rgba(200, 230, 201, 0.5);
