@if (massUnit$ | async; as massUnit) {
	<form [formGroup]="form" (submit)="onSubmit()">
		<div class="flex justify-space-between align-center">
			<h2>Mass unit {{ idControl.value }}</h2>
			<div>
				<button mat-stroked-button type="submit">
					<span>Save</span>
					<mat-icon>save</mat-icon>
				</button>
				&nbsp;

				@if (massUnit.id) {
					<button mat-stroked-button (click)="onDelete(massUnit.id)">
						<span>Delete</span>
						<mat-icon>delete</mat-icon>
					</button>
					&nbsp;
				}

				<button mat-stroked-button type="button" routerLink="/mass-units">
					<span>Cancel</span>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [formControl]="nameControl">
		</mat-form-field>
	</form>
}
