@import "theme";

.text-content {
  height: 100%;
  padding-left: 0.75rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  background: $primary-900;
  color: $primary-color;
}

.text-content__link {
  color: $primary-link;
}
