.app-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

$toolbar-height: 4rem;
$footer-height: 2rem;
$padding: 1rem;

.toolbar {
	height: 64px;
}

.main {
	height: calc(100% - ($toolbar-height + $footer-height) - (2 * $padding));
	padding: $padding;
}

.footer {
	height: $footer-height;
}
