@import "core/layout/layout-variables";
@import "theme";

:host {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

$settings-size: $app-bar-height;

.app-bar {
  height: $app-bar-height;
  width: 100%;
  display: flex;
}

.breadcrumbs {
  height: $app-bar-height;
  width: calc(100% - #{$settings-size});
}

.settings {
  height: $settings-size;
  width: $settings-size;
  background: $primary-800;
}

.main {
  height: calc(100% - $app-bar-height);
}

.side-nav {
  height: $main-height;
  flex-basis: 20%;
}

.main-container {
  height: $main-height;
  overflow-y: auto;
  flex-basis: 80%;
}

.footer {
  height: $footer-height;
  flex-basis: 100%;
}
