<form [formGroup]="form" (submit)="onSubmit()">
	<app-details-topbar
		title="Nutrient type"
		[isFormDirty]="form.dirty"
		[isNew]="isNew$ | async"
	></app-details-topbar>

	<mat-form-field>
		<mat-label>Name</mat-label>
		<input matInput [formControl]="nameControl">
	</mat-form-field>
	<br>
	<mat-form-field>
		<mat-label>Mass unit</mat-label>
		<input matInput [formControl]="massUnitSearchControl" [matAutocomplete]="auto">

		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
			<mat-option *ngFor="let option of massUnitSelectOptions | async" [value]="option.value">
				{{ option.viewValue }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>
