<div class="flex-column full-height">
	<h2>Dashboard</h2>
	<div class="flex">
		<div class="padding-1 half-width">
			<app-motivational-quote-card [motivationalQuote]="dashboard?.motivationalQuote"></app-motivational-quote-card>
		</div>
		<div class="padding-1 half-width">
			<app-goals-card [goals]="dashboard?.goals"></app-goals-card>
		</div>
	</div>
	<div class="flex">
		<div class="padding-1 half-width">
			<app-diet-card [diet]="dashboard?.diet"></app-diet-card>
		</div>
		<div class="padding-1 half-width">
			<app-training-card [training]="dashboard?.training"></app-training-card>
		</div>
	</div>
</div>
