<div class="flex justify-space-between align-center">
	<h2>Nutrients per 100g</h2>
	<button mat-stroked-button (click)="openSearchDialog()">
		<mat-icon>add</mat-icon>
		<span>Assign</span>
	</button>
</div>

<table mat-table class="full-width-table" matSort>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
		<td mat-cell *matCellDef="let row">{{ row.type.name }}</td>
	</ng-container>

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
		<td mat-cell *matCellDef="let row">{{ row.amount }} {{ row.type.massUnit.name }}</td>
	</ng-container>

	<ng-container matColumnDef="timestamp">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
		<td mat-cell *matCellDef="let row">{{ row.timestamp | date : 'short' }}</td>
	</ng-container>

	<ng-container matColumnDef="userId">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
		<td mat-cell *matCellDef="let row">{{ row.userId }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let row">
			<div class="flex full-height full-width align-center justify-end">
				<button mat-stroked-button (click)="unassign(row.id)">
					<mat-icon>remove</mat-icon>
					<span>Unassign</span>
				</button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
	[pageIndex]="0"
	[pageSize]="10"
	[pageSizeOptions]="[5, 10, 20]"
></mat-paginator>
