/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-fields {
  padding: 1rem;
}

.form-field {
  margin: 0 10px;
}

//* {
//  scrollbar-width: thin;
//  scrollbar-color: #0080FF #003366;
//}
