<form [formGroup]="form" (submit)="onSubmit()">
	<app-details-topbar
		[isFormDirty]="form.dirty"
		[isNew]="isNew$ | async"
		[titleTemplate]="titleTemplate"
		[additionalButtonsTemplate]="additionalButtonsTemplate"
		[deleteButtonTemplate]="deleteButtonTemplate"
	></app-details-topbar>

	<ng-template #titleTemplate>
		<h2 matBadge="You" matBadgeOverlap="false" [matBadgeHidden]="!(isCurrentUser$ | async)">
			User
		</h2>
	</ng-template>

	<ng-template #additionalButtonsTemplate>
		@if ((canUpdateUser$ | async)) {
			<button mat-stroked-button type="button" (click)="openChangePasswordDialog(details$.value!.id)">
				<span>Change password</span>
				<mat-icon>password</mat-icon>
			</button>
			&nbsp;
		}
	</ng-template>

	<ng-template #deleteButtonTemplate>
		@if ((canUpdateUser$ | async)) {
			<button mat-stroked-button type="button" (click)="onDelete(details$.value!.id)">
				<span>Delete</span>
				<mat-icon>delete</mat-icon>
			</button>
			&nbsp;
		}
	</ng-template>

	<mat-form-field>
		<mat-label>Username</mat-label>
		<input matInput [formControl]="usernameControl">
	</mat-form-field>
	@if (!(details$ | async)) {
		<br>
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input matInput type="password" [formControl]="passwordControl">
		</mat-form-field>
	} @else {
		<br>
		<mat-form-field>
			<mat-label>Role</mat-label>
			<mat-select [formControl]="roleIdControl">
				@for (roleIdOption of userRoleOptions; track roleIdOption.value) {
					<mat-option [value]="roleIdOption.value">{{ roleIdOption.viewValue }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	}
</form>
