<div class="side-nav">
  <div class="home-link-container">
    <h1 class="home-link">
      <a [routerLink]="['/']" class="link">
        <fa-icon class="mr-2" [icon]="['fas', 'heart-pulse']"></fa-icon>
        <span>Cortado</span>
      </a>
    </h1>
  </div>
  <mat-tree
    class="link-tree"
    [dataSource]="navigationNodes"
    [childrenAccessor]="childrenAccessor"
    [trackBy]="trackBy"
    #tree
  >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      matTreeNodePaddingIndent="24px"
      [ngClass]="{'d-none': node.hideInTree}"
    >
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <a class="node" [routerLink]="node.url" routerLinkActive="node--link-active">{{node.label}}</a>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasNode"
      matTreeNodePadding
      matTreeNodePaddingIndent="24px"
      [cdkTreeNodeTypeaheadLabel]="node.label"
    >
      <button mat-icon-button disabled></button>
      <a class="node">{{node.label}}</a>
    </mat-tree-node>
  </mat-tree>
</div>
